body{
	margin: 20px 0;
}
.PagButtons{
	cursor: pointer;
    background: red;
    padding: 3px 12px;
    color: #fff;
    font-size: 20px;
}
.currentPage{
	font-size: 16px;
}
.paginatedDiv{
	margin: 10px 0 25px 0;
    float: right;
}